html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden; /* Hide bottom overflow of map */
	font-family: "Lucida Grande","Seoge UI","Arial",sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #666;
	background-color: #fff;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
}

#map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}